.flex-container {
  display: flex;
  align-items: stretch;
}

.second {
        background: #57a6e094;
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
}
.first
{
  background: #cea8ff85;
    flex: 1;
        height: 10%;
}
.third {  background: #e9ffa885; flex: 1;     height: 10%; }

 .second-align-text  {
    padding: 15%;
}
.first-align  {
    padding: 15%;
}
.image-align { margin-top: 10%; }
.third-align{
    padding: 15%;     margin-bottom: 10%; }


@media (max-width: 500px)
{
  .flex-container {
        flex-direction: column;
}
}

@media (max-width: 900px)
{
  .flex-container {
        flex-direction: column;
}
}