* 
{
	padding: 0;
	margin: 0;
}
.banner
 { 
 	background-image: url('https://cdn.pixabay.com/photo/2017/12/21/12/26/glowworm-3031704_960_720.jpg');
 	width: 100%;
 	background-size: cover ;
 }
 .top-bar
 { 
 	background: #000;
 	display: flex;
 	width: 100%;
 	height: auto;
 }
 .logo
 {
 	color: #fff;
 	flex:1;
 	font-size: 40px;
 	padding: 18px;
 	text-transform: uppercase;
 }
 .header-menu
 {
 	flex:3;
 }
 .header-menu ul
{
	display: flex;
	margin-top: 30px;
	flex-flow: row wrap;
}
.header-menu ul li {
	flex:1;
	text-align: center;
}
.header-menu ul li a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
}
.banner-text {
	display: flex;
	padding: 15% 0;
}
.banner-text-items {
	color: #fff;
	margin: auto;
	text-align: center;
	width: 50%;
}
.banner-text-items h2 { 
font-size: 40px;
margin-bottom: 20px;
text-transform: uppercase;
 }
.banner-text-items p { 
font-size: 18px;
 }
 .main-container {
 	display: flex;
 	flex-flow: row wrap;
 	padding: 5% 0;	
 }
 .main1 {
 	flex:1;
 	text-align: center;
 	padding: 3%;
 }
.contact-text
{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.contact
{
	background-image: url(https://cdn.pixabay.com/photo/2018/03/06/07/28/writing-pad-3202747_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    position: relative;
    z-index: 1;
}

.contact-text input[type="text"]
{
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
	width: 30%;
}

.contact-text textarea
{
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;
	width: 30%;
}

.contact-text a 
{
	background: #da4b29;
	color: #fff;
	display: block;
	font-size: 24px;
	margin-top: 25px;
	padding: 15px 80px;
	text-decoration: none;
}

.contact:before
{
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: -1;
}

@media all and (max-width: 500px)
{
	.top-bar
	{
		flex-direction: column;
		text-align: center;
	}
	.logo
	{
		padding: 18px 0 0;
	}
	.header-menu ul 
	{
		flex-direction: column;
		margin-top: 0; 
	}
	.header-menu ul li { padding: 5px; }
	.banner-text-items { width: 100%; }
	.main-container { flex-direction: column; }
}